// style
// HTML SCSS JSResult Skip Results Iframe
// EDIT ON
// *{box-sizing: border-box;}

html, body{
  color:#fff;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #3cad7e;
  font-family: 'Arial', sans-serif;
}


h1{
  margin-top: 24px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
}


.form{
  position: relative;
  width: 500px;
  margin: 0 auto;
}

.task-text{
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  transition: all 0.25s ease;
  pointer-events: none;
  
  &.focus{
    top: -25px;
    left: 5px;
    font-size: 14px;
    color: #fff;
  }
}


#task{
  position: relative;
  display: block;
  width: 500px;
  margin-top: 50px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #a0a0a0;
  outline: none;
  background-color: #fff;
}



.btn,
button.btn {

  font-weight: 700;
  position: relative;
  display: inline-block; 
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #266e50;
  background-color: #fff;
  // background:rgba(51,112,121,0.4)
}

.btn-border-shadow--radius {
  border-radius: 100vh;
}
.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #fff;
}

.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #266e50;
  border-radius: 0.5rem;
}

.btn-border-shadow--radius:before {
  border-radius: 100vh;
}

.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

#addButton{
  margin-top: 24px;
}

.buttonContent{
  text-align:center;
}

.btn-margin-left{
  margin-left: 16px;
}


.lists{
  margin-top: 48px;
  margin-left: 48px;
  list-style: none;
  li{
    display: flex;
    color: #333;
    border-left: solid 8px #f4a006;
    background: rgba(244, 160, 6, 0.1);
    margin-bottom: 5px;
    padding: 0.5rem;
    
  }
}



.task-box{
  display: flex;
  color:#fff;
  align-items: center;
}

.sumi{
  margin-left: 32px;
}

.batsu{
  font-size: 200%;
  font-weight: bold;
  margin-left: 32px;
}



.time{
  color: #fff;
}

.count{
  margin-left: 24px;
}
.element{
  display: flex;
  align-items: center;
}

.Nothing-div{
  margin-top: 48px;
  text-align: center;
}